.Root {
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
  }
  .Paper {
    padding: 2px;
    margin: 'auto';
    width: 500;
  }
  .Image {
    width: 128;
    height: 128;
  }
  .Img {
    margin: 'auto';
    display: 'block';
    width: '100%';
    height: '100%';
  }

  .Grid {
    padding-top: 30px;
    padding-bottom: 20px;
}